.aginu{
    margin-left: 520px;
}
.alik{
    margin-top: -690px;
}
.klonf{
    display: flex;
    flex-direction: column;
}
.grtdfe{
    margin-top: -20px;
    margin-left: 20px;
}
.home-list{
    list-style-type: none;
    width: 742px;
    display: flex;
    justify-content: space-between;
    margin-left: -54px;
}